html {
  scrollbar-width: thin;
  scrollbar-color: unset;
  margin: 0;
  padding: 0;
  body {
    margin: 0;
    padding: 0;
    span {
      &.mx-1 {
        margin: 0 0.25rem /* 4px */;
      }
      &.ml-1 {
        margin-inline-start: 0.25rem /* 4px */;
      }
      &.mr-1 {
        margin-inline-end: 0.25rem /* 4px */;
      }
    }
    .loading-page {
      margin: 40px auto;
      text-align: center;
      user-select: none;
    }
  }
}
