.socialInfo {
  width: 100%;
  margin: auto;
  .title {
    color: rgba(0, 0, 0, 0.88);
    font-size: 18px;
    font-weight: 600;
    text-align: start;
    border-bottom: 2px solid rgba(0, 0, 0, 0.88);
    line-height: 32px;
    margin: 8px 0 4px;
  }
  .socialItem {
    color: rgba(0, 0, 0, 0.88);
    font-size: 15px;
    font-weight: 400;
    text-align: start;
    line-height: 24px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    svg {
      width: 16px;
      height: 16px;
      font-size: 16px;
    }
    .name {
      display: inline-block;
      min-width: 76px;
    }
    .link {
      font-size: 15px;
      font-weight: bold;
      color: #1677ff;
    }
  }
}
